<footer>
    <div class="bg-accent mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-lg-left text-center">
            <h4>
              Reach out to hire YouTubers
            </h4>
          </div>

          <div class="col-sm-6 text-lg-right text-center">
            <a href="mailto:sanjaykumaranna799@gmail.com">
            <button class="btn btn-light">
              Contact Us
            </button>
          </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-lg-left text-center">
          <h5>
            2020 YouTubers for Hire
          </h5>
        </div>
        <div class="col-md-4 text-lg-center text-center">
          <h5>
            All Rights Reserved
          </h5>
        </div>
        <div class="col-md-4 text-lg-right text-center">
          <div>

            <a href="https://www.facebook.com/profile.php?id=100080361853204"> <button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button></a>
           <a href="https://www.instagram.com/___sanjay___27___/"> <button class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </button></a>
           <a href="https://twitter.com/Sanjayk45759202"> <button class="btn btn-accent"> <i class="fab fa-twitter fa-lg	"></i> </button></a>
            <button class="btn btn-accent"> <i class="fab fa-youtube fa-lg	"></i> </button>

          </div>
        </div>

      </div>
    </div>
  </footer>